{% extends "base.html" %}

{% block title %}Shipping Information{% endblock %}

{% block content %}
<h1 class="mt-4">Shipping Information</h1>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.address.label_tag }}
        {{ form.address }}
    </div>
    <div class="form-group">
        {{ form.number.label_tag }}
        {{ form.number }}
    </div>
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.landmark.label_tag }}
        {{ form.landmark }}
    </div>
    <div class="form-group">
        {{ form.pincode.label_tag }}
        {{ form.pincode }}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Next</button>
</form>
{% endblock %}
